{% extends "base.html" %}
{% block title %}CS:GO Death Log{% endblock %}
{% block head %}
<style>
  * { margin: 0; padding: 0; box-sizing: border-box; }
  body { font: 13px Helvetica, Arial; }
  form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
  form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
  form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
  #deathlog { list-style-type: none; margin: 0; padding: 0; }
  #deathlog li { padding: 5px 10px; }
  #deathlog li:nth-child(odd) { background: #eee; }
  #deathlog { margin-bottom: 40px }
</style>
{% endblock %}
{% block content %}
    <ul id="deathlog"></ul>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var all_players_match_stats = {};
        var connection = new WebSocket('{{ gsi_websocket_url }}');
        connection.onopen = function(){
             /*Send a small message to the console once the connection is established */
             console.log('Connection open!');
        }
        connection.onmessage = function(e){
          console.log(Object.keys(msg.allplayers));
          //$("#deathlog").html("");
          Object.keys(msg.allplayers).forEach ( function (steam_id, index) {
            //$('#deathlog').append($('<li>').text("Player: " + steam_id+ " // Kills: " + msg.allplayers[steam_id]['match_stats']['kills']));
            var temp = all_players_match_stats[steam_id];
            if (temp != undefined) {
              if (temp['deaths'] !=  msg.allplayers[steam_id]['match_stats']['deaths']) {
                $('#deathlog').append($('<li>').text("Player: " + steam_id + " died"));
              }
            }
            all_players_match_stats[steam_id] = { 
               "kills": msg.allplayers[steam_id]['match_stats']['kills'],
               "deaths": msg.allplayers[steam_id]['match_stats']['deaths']
            }
            window.scrollTo(0, document.body.scrollHeight);


            console.log(msg.allplayers[steam_id]['match_stats']);
          });
        };
      });
    </script>
{% endblock %}

