{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
    <h2>Upload a replay</h2>
    <form action="/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        Game:
        <select name="game">
{% for game in games %}
            <option value="{{ game.name }}">{{ game.description }}</option>
{% endfor %}
        </select>
        Replay file: <input type="file" name="replay_file" /><br />
        <input type="submit" value="Upload" />
    </form>
{% endblock %}
